/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Quicksand:wght@400;700&display=swap');

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

body{
    background-color: #fbfbfb;

}

@media (min-width:1024px){

    
}
/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

h2{
    font-size: 28px;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px gray;
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #fbfbfb;
    
}
header img {
    height: 200px;
    width: auto;
}
.abrir-menu{
    display: none;
}

#cerrar{
    display: none;
}

.menu_lista{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
header .menu .menu_lista .menu_item{
    display: block;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.menu_item:hover{

    background-color: #8AA6A3;
    transition-property: all;
    padding: 0 10px;
    border-radius: 5px;
    transition-duration: .5s;

}

.animado{
    opacity: 0;
    transition: all 1s;
}

.mostrarArriba{
    animation: mostrarArriba 1s;
}


@keyframes mostrarArriba{
    0%{
        transform: translateX(-68px);
    }
    100%{
        transform: translateX(0px);
    }
}

 section article .gatito img{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}    
section article .gatito{
    justify-content: center;
}

main .Article_inicio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding-top: 140px;
}

main .Article_inicio h2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 2.25rem;
    margin: auto;
    text-align: center;
}
main .Article_inicio p{
    text-align: center;
}

main .Article_inicio a{
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 300px;
    padding: 1em;
    background-color: #10403B;
    border-radius: 30px;
    color: #fbfbfb;
    font-weight: bold;
    font-size: 20px;
}

.Article_inicio a:hover{
    background-color: #127369;
}

.proyectos{
    display: flex;
    background-color: #127369;
    width: 100%;
    margin-bottom: 100px;
    align-items: center;
    flex-direction: column;
}

.contenedorProyectos{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    height: 100%;
    align-items: start;
    justify-content: space-around;
}

.proyectoItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 30%;
}
.proyectoItem p{
    color: #fbfbfb;
    text-align: center;
}

.proyectoItem img{
    cursor: pointer;
    border-radius: 10px;
    height: 250px;
    width: auto;
    transition: all .2s;
}

.proyectoItem img:hover{
    height: 230px;
    box-shadow: 10px 10px rgba(45, 185, 69, 0.5);
}

.proyectos h2{
    padding: 2rem;
    color: #fbfbfb;
    margin-bottom: 0px;
}

.tituloItem{
    color: #fbfbfb;
    font-weight: 700;
    margin: 10px;
}
main .Article_Contacto .Caja_Hablemos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #8AA6A3;
    height: 300px;
    width: 75%;
    margin: auto;
    border-radius: 30px;
}
main .Article_Contacto .Caja_Hablemos h2{
    padding-bottom: 20px;
}

main .Article_Contacto .Caja_Hablemos{
    margin-bottom: 60px;
}
main .Article_Contacto p{
    text-align: center;
}

main .Article_Contacto .Caja_imagenes{
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
}
#ebtn:hover{
    cursor: pointer;
}

main .Article_Contacto .Caja_imagenes img{
    height: 10vh;
}
.form_content{
    background-color: #af599e;
    border-radius:  15px;
    padding: 40px 10% 20px;
    display: flex;
    flex-direction: column;
    margin: 0 10% 20px;
    padding: auto;
}

.form_content{
    display: none;
    background-color: #127369;
}

div .form_content_title{
    margin: auto; 
}
div .form_content_title h3{
    color: #fbfbfb;
    font-size: 30px;
}
div .form_Contact{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

div .form_Contact label{
    color: #fbfbfb;
    margin-top: 10px31;
}

div .form_Contact input{
    display: flex;
    margin-top: 10px;
}

div .form_Contact label{
    margin-top: 10px;
}

.form_content .form_Contact #POST-Asunto{
    height: 150px;
}

.form_content .form_Contact #btn__submit{
    background-color: #fbfbfb;
    border-style: none;
    border-radius: 10px;
    justify-content: center;
}

.form_content .form_Contact #btn__submit:hover{
    cursor: pointer;
    background-color: #aaaa99;
}
 footer .Caja_foot{
    background-color: #127369;
    height: 200px;
    display: flex;
    justify-content: center;
    height: 90px;
 }

  footer .Caja_foot p{
    padding-top: 40px;
    color: #fbfbfb;
    font-weight: bold;
  }

  @media (min-width:1024px){

    main .Article_inicio{
        flex-direction: row;
        margin-bottom: 100px;
        max-width: none;
    }
    header .menu.menu_item{
        display: inline-block;
        padding: 10px;
        font-weight: bold;
    
    }
    
    .header{
        align-items: center;
        height: 5rem;
    }
    .nav{
        height: 15px;
        padding: 0;
    }
    .header img{
        height: 150px;
        margin-left: 30px;
    }
    .menu_lista{
        margin-right: 40px;
    }

    .gatito{
        width: 50%;
        display: flex;
        align-items: center;
    }

    main .Article_inicio p{
        text-align: left;
        
    }
    main .Article_inicio h2 {
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 38px;
        margin: 0;
        text-align: center;
    }
    main .Article_inicio a {
        margin: 30px 0 0;


    }
    .Hola{
        width: 50%;
        display: flex;
        margin: 0;
        flex-direction: column;
        justify-content: flex-start;
    }
  }

  @media (max-width: 800px) {

    header{
        position: fixed;
        box-shadow: 0, 0, 0 100vmax rgba(0, 0, 0, .5);
    }
    .abrir-menu{
        display: block;
        border-style: none;
        background-color: transparent;
    }
    .list_icono{
        width: 2rem;
    }
    #cerrar{
        display: block;
        border-style: none;
        background-color: transparent;
    }

    .icono_cerrar{
        width: 1rem;
    }
    nav{
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    .visible{
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        padding: 2rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #127369;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .menu_lista{
        background-color: #127369;
        display: flex;
        flex-direction: column;
        gap: 2rem:
    }

    .menu_item{
        color: #fbfbfb;
    }

    .contenedorProyectos{
        flex-flow: column wrap;
    }
    .proyectoItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        width: 100%;
    }
    
  }

     
/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
